.container {
	background: var(--gray-900);
	color: var(--white);
}

.content {
	max-width: 1120px;
	margin: 0 auto;
	padding: 3rem 2rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	img {
		height: 15rem;
	}

	.logo {
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			margin-top: 2rem;
			font-size: 1.5rem;
			text-align: center;
		}
	}
	.contato,
	.redesSociais {
		height: 16rem;
		width: 16rem;
		display: flex;
		flex-direction: column;

		h1 {
			font-size: 1.5rem;
			font-weight: 500;
		}
	}

	.redesSociais {
		height: 16rem;
		width: 13rem;
	}
}

.telefone,
.endereco,
.email {
	display: flex;
	align-items: center;
	margin-top: 2rem;

	svg {
		height: 24px;
		width: 24px;
		margin-right: 2rem;
	}

	p {
		font-size: 1.125;
		width: 13rem;
	}
}

.icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	margin-top: 2rem;

	svg {
		height: 40px;
		width: 40px;
		stroke-width: 1px;
		transition: all 0.5s;

		&:hover {
			stroke-width: 2px;
		}
	}
}

.button {
	display: inline-block;
	border: 1px solid var(--white);
	border-radius: 3px;

	width: 100%;
	padding: 1rem 0;

	text-align: center;
	font-size: 1.2rem;
	font-weight: 400;

	margin-top: auto;

	transition: all 0.5s;

	&:hover {
		background: black;
	}
}

.copyright {
	background: black;
	text-align: center;
	font-size: 0.8rem;
	padding: 0.3rem;
	font-weight: 300;
}
