.container {
	background: var(--gray-900);
}

.content {
	max-width: 1120px;
	margin: 0 auto;
	padding: 3.5rem 2rem;

	.title {
		color: white;
		font-size: 2.25rem;
		position: relative;
		line-height: 2.5rem;

		margin: 0 0 1rem 1rem;

		&::before {
			content: '';
			position: absolute;

			width: 3px;
			height: 100%;
			bottom: 0;
			left: -1rem;
			background: var(--red-200);
		}
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
