.container {
	background: var(--gray-900);
	min-height: 100vh;
}

.content {
	max-width: 1120px;
	margin: 0 auto;
	padding: 3.5rem 2rem;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;

	.box {
		display: flex;
		justify-content: space-between;

		.mainInfo {
			width: 50%;

			.title {
				font-size: 2.5rem;
				font-weight: 500;
				color: var(--red-500);
			}

			.subtitle {
				font-size: 1.8rem;
			}

			.info1 {
				margin: 1rem 0;
			}

			.icons {
				margin-bottom: 2rem;
				.icon {
					display: flex;
					align-items: center;
					color: gray;

					svg {
						margin-right: 0.5rem;
					}
				}

				#data {
					margin-top: 1rem;
					color: white;
					font-size: 1.2rem;

					span {
						font-weight: 600;
					}
				}
			}
		}

		.description {
			width: 50%;
			font-weight: 300;

			.title {
				font-size: 1.3rem;
				font-weight: 600;
				margin-bottom: 1rem;
			}

			.subtitle {
				font-size: 1.2rem;
				font-weight: 500;
				margin-top: 1.5rem;
				margin-bottom: 0.3rem;
			}
		}
	}
}

.button {
	color: white;
	margin: 10rem 0 5rem;
}
