.button {
	background: var(--red-800);
	border-radius: 3px;
	display: inline-block;

	// width: 10rem;
	padding: 0.5rem 2rem;

	text-align: center;
	font-size: 1.2rem;
	font-weight: 400;

	margin-top: auto;

	transition: filter 0.2s ease;

	&:hover {
		filter: brightness(0.7);
	}
}
