.container {
	background: var(--red-200);
	height: 30rem;
}

.content {

    max-height: 30rem;

	p {

        color: #FFFFFF;
		text-align: center;
		font-size: 2rem;
        width: 50rem;
        padding-top: 6rem;
        padding-left: 10rem;

	}

    img {

        background-color: var(--gray-900);
        float:right;
        width:auto;
        height: 30rem;
    
    }

    span {
        font-size: 2rem;
        font-weight: 500;
        font-style: italic;
    }
}