<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="assets/styles/reset.css">
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
    <div class="header"><img src="assets/pictures/logo_white_text.svg" class="logo" alt="logo"></div>
    <div class="content">
        <div class="title">Seu título aqui</div>
        <div class="divisor"></div>
        <div class="description">testetestetestetestetestetestetestetestetestetestetesteteste</div>
        <div class="divisor"></div>
    </div>
    <div class="footer">
        <div class="social">
            <a target="_blanck" href="https://www.facebook.com/estagiosita"><ion-icon name="logo-facebook"></ion-icon></a>
            <a target="_blanck" href="https://www.instagram.com/cee_ita/?hl=pt-br"><ion-icon name="logo-instagram"></ion-icon></a>
            <a target="_blanck" href="https://www.ceeita.com/"><ion-icon name="link-outline"></ion-icon></a>
        </div>
        <div class="horizontal-box"></div>
        <div class="copyright">Copyright © Comissão de Estágios e Empregos do ITA, All rights reserved.</div>
        <div class="questions">Quaisquer dúvidas envie um e-mail para contato@ceeita.com</div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>