.container {
	background: var(--white);
	height: 35rem;
}

.content {
	.title {

		max-width: 1200px;	

		h1 {
			font-size: 3rem;
			color: #000000;
			padding-top: 5rem;
			text-align: right;
			margin-right: 0;
		}

		&::before {
			content: '';
			position: absolute;

			right: 8rem;
			width: 3px;
			height: 4rem;
			top: 10.5rem;
			background: var(--red-200);
		}

		img {

			float: left;
			padding-top: 3rem;
			padding-left: 3rem;
			max-width:43rem;
			max-height:43rem;
			width: auto;
			height: auto;

		}

		p {

			padding-top: 3rem;
			text-align: right;
			font-size: 2rem;

		}

		span {
			font-size: 2rem;
			font-weight: 500;
			font-style: italic;
		}
	}
}