.container {
	background: var(--white);
}

.content {
	max-width: 100%;
	margin: 0 auto;
	padding: 2rem 2rem;
}

.title {
	font-size: 2.25rem;
	color: var(--white);
	position: relative;
	line-height: 2.5rem;

	height: 8rem;

	text-align: center;
	padding-top: 2.6rem;

	background-color: var(--red-200);
}

.parceiros {
	display: flex;
	align-items: center;
	justify-content: space-around;

	img {
		width: 20rem;
		border: 3px solid var(--gray-900);
		border-radius: 20px;
		box-shadow: 10px 10px var(--red-200);
	}
}
