.container {
	background: var(--gray-50);
}

.content {
	max-width: 1120px;
	margin: 0 auto;
	padding: 3.5rem 2rem;

	.title {
		font-size: 2.25rem;
		color: var(--gray-900);
		position: relative;
		line-height: 2.5rem;

		margin: 0 0 1rem 1rem;

		&::before {
			content: '';
			position: absolute;

			width: 3px;
			height: 100%;
			bottom: 0;
			left: -1rem;
			background: var(--red-200);
		}
	}

	.numbers {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 2rem;

		h1 {
			color: var(--red-200);
			font-weight: 600;
			font-size: 1.875rem;
		}

		p {
			font-size: 1.4rem;
			margin-top: 1rem;
		}

		.left {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			text-align: right;
			width: 33rem;
			padding-right: 6rem;
			border-right: 1.5px solid var(--gray-900);

			.a {
				margin: 5rem 0;
			}

			.b {
				margin: 5rem 0;
			}
		}
		.right {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: left;
			width: 33rem;
			padding-left: 6rem;
			border-left: 1.5px solid var(--gray-900);

			.c {
				margin: 0 0 5rem;
			}

			.d {
				margin: 0 0 5rem;
			}
		}

		.box {
			width: 23rem;
		}
	}
}
