body {
    font-family: 'kanit';
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 250px;
    background-image: url(https://cdn.jsdelivr.net/gh/dbsc/cee@email/back/emails/templates/assets/pictures/fundo.png);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50%;
}

.content {
    width: 50vw;
    margin: 60px auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 250px;
    background-image: url(https://cdn.jsdelivr.net/gh/dbsc/cee@email/back/emails/templates/assets/pictures/fundo.png);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 50px;
}

.social ion-icon {
    color: white;
    font-size: 30px;
}

.horizontal-box {
    height: 5px;
    width: 50vw;
    background-color: rgb(150, 6, 24);
}

.copyright {
    width: 50vw;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    color: white;
}

.questions {
    width: 50vw;
    margin-top: 20px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
    color: white;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
}

.divisor {
    margin-top: 20px;
    height: 4px;
    background-color: black;
    width: 50vw;
}

.description {
    overflow-wrap: break-word;
    width: 50vw;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .title {
      font-size: 30px;
    }
    .description {
        font-size: 16px;
    }
  }
