.container {
	background: var(--white);
}

.content {

	width: 100%;
    height: 32rem;

	h1 {
		height: 7rem;
		background-color: var(--gray-900);
		font-size: 2rem;
		color: var(--white);
		padding-left: 10rem;
		padding-top: 2rem;
		text-align: left;
		margin-right: 0;
	}

	&::after {
		content: '';
		position: absolute;

		left: 8rem;
		width: 3px;
		height: 3rem;
		top: 184rem;
		background: var(--red-200);
	}

    img {
        padding-top: 2rem;
        padding-right: 2rem;
        float: right;
        height: 19rem;
        width: auto;
    }

    ul {
        font-size: 1.2rem;
        list-style: none;
        text-align: left;
        padding-left: 6rem;
        padding-top: 5rem;
    }

    ul li::before {
        content: "\2022";
        display: inline-block;
        font-size: 1.3rem;
        width: 1rem;
        margin-left: -1rem;
        margin-bottom: 1rem;
        color: var(--red-200);
    }
}