.container {
	background: var(--white);
}

.content {

	width: 100%;
    height: 36rem;

	h1 {
		height: 7rem;
		background-color: var(--gray-900);
		font-size: 2rem;
		color: var(--white);
		padding-right: 10rem;
		padding-top: 2rem;
		text-align: right;
	}

	&::after {
		content: '';
		position: absolute;

		right: 8rem;
		width: 3px;
		height: 3rem;
		top: 216rem;
		background: var(--red-200);
	}

    img {
        padding-top: 1rem;
        padding-right: 5rem;
        float: right;
        height: 20rem;
    }

    .Parag1 {
        line-height: 2rem;
        padding-top: 2rem;
        padding-left: 2rem;
        text-indent: 3rem;
        width: 80rem;
        font-size: 1.2rem;
        text-align: justify;
    }

    .Parag2 {
        padding-top: 2rem;
        line-height: 2rem;
        padding-left: 2rem;
        text-indent: 3rem;
        width: 45rem;
        font-size: 1.2rem;
        text-align: justify;
    }

    span {
        font-weight: 500;
        color: var(--red-200)
    }
}