.container {
	height: 5rem;
	background: var(--red-200);
	color: white;
	border-bottom: 1px solid var(--gray-50);
}

.content {
	max-width: 1120px;
	height: 5rem;
	margin: 0 auto;
	padding: 0 2rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	img {
		height: 3.5rem;
		cursor: pointer;
	}

	nav {
		height: 5rem;

		a {
			display: inline-block;
			position: relative;
			padding: 0 1rem;
			height: 5rem;
			line-height: 5rem;

			filter: brightness(0.7);
			transition: filter 0.2s;

			&:hover {
				color: var(--white);
				filter: brightness(1);
			}

			&.active {
				color: var(--white);
				font-weight: 600;
				filter: brightness(1);
			}

			&.active::after {
				content: '';
				position: absolute;
				border-radius: 3px 3px 0 0;
				width: 100%;
				height: 3px;
				bottom: 1px;
				left: 0;
				background: var(--gray-900);
			}
		}
	}
}
