* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;

	--gray-900: #212121;
	--gray-300: #a8a8b3;
	--gray-50: #efefef;

	--red-800: #960618;
	--red-500: #b62b35;
	--red-200: #d23237;
}

body {
	background: var(--gray-900);
	color: var(--white);
}

body,
input,
textarea,
select,
button {
	font: 400 1rem 'Kanit', sans-serif;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media (max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}
