.container {
	height: 100vh;
	background: var(--red);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	h1 {
		color: white;
		font-size: 5rem;
		margin-bottom: 5rem;
	}

	img {
		height: 15rem;
		animation: aumentar 2s ease infinite;
	}
}

@keyframes aumentar {
	0%,
	100% {
		height: 15rem;
	}
	50% {
		height: 18rem;
	}
}
